*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

height:100vh;
overflow:hidden;

display:flex;
justify-content:center;
align-items:center;

position:relative;

font-family:
"Times New Roman",
serif;

background:

radial-gradient(

circle,

#071018 0%,
#180000 40%,
black 100%

);

}



/* 血色空氣 */

body::before{

content:"";

position:absolute;

inset:0;

background:

radial-gradient(

circle,

rgba(180,0,0,.06),

transparent 70%

);

animation:
mist 4s infinite;

pointer-events:none;

z-index:0;

}





.intro{

position:relative;

z-index:10;

}





.spell-svg{

width:1000px;
height:300px;

overflow:visible;

}





#spellPath{

fill:none;

stroke:#72dfff;

stroke-width:2;

stroke-linejoin:round;

stroke-linecap:round;

transform-origin:center center;

filter:

drop-shadow(
0 0 8px rgba(100,200,255,.4)
);

}





/* 血霧 */

.gold-mist{

position:fixed;

inset:-50%;

opacity:0;

pointer-events:none;

z-index:20;

background:

linear-gradient(

90deg,

#220000 0%,

#5c0000 20%,

#8d0000 40%,

#680000 60%,

#320000 100%

);

filter:
blur(160px);

}





.portal-flash{

position:fixed;
inset:0;

opacity:0;

background:#680000;

z-index:80;

}





/* 符文污染 */

.rune-copy{

position:fixed;

left:50%;
top:50%;

font-size:90px;

font-weight:bold;

font-family:
"Times New Roman",
serif;

color:#d00000;

white-space:nowrap;

opacity:0;

z-index:100;

transform-origin:center;

filter:

blur(.4px)

drop-shadow(
0 0 12px red
)

drop-shadow(
0 0 40px #800
)

drop-shadow(
0 0 90px rgba(255,0,0,.9)
);

}





@keyframes mist{

0%{

opacity:.2;

}

50%{

opacity:.9;

}

100%{

opacity:.2;

}

}